.contentInput {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
    input {
        width: 287px;
        height: 41px;
        background: #ffffff;
        border: 1px solid #aaaaaa;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 0px 35px 0px 10px;
        font-size: 12px;
    }
    input:focus {
        outline-color: #9d00d5;
        border: 1px solid #9d00d5;
        box-sizing: border-box;
        box-shadow: 0px 0px 4px rgba(157, 0, 212, 0.25);
        border-radius: 3px;
    }
    svg {
        position: absolute;
        right: 7px;
        opacity: 0.3;
        stroke: #000000;
    }
    .svgFocus {
        opacity: 1;
        stroke: #9d00d5;
    }
}

.contentResult {
    width: 285px;
    height: 225px;
    position: absolute;
    top: 36px;
    border-radius: 5px;
    z-index: 1;
    border: 1px solid #bbc;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    .item {
        height: 37px;
        list-style: none;
        font-size: 12px;
        color: #444444;
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }
    .isSelected {
        background: #f1f1f1;
    }
}


.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }